<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      
      <ul class="row list-unstyled">
      
        <% for(var i=0; i<posts.length; i++) {%>
          <% /* %>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[0]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
          <% */ %>

          <div class="card bg-base-100 shadow-xl mb-3 pt-4 w-3/5 mx-auto">
            <a href="/post/<%= posts[i]._id%>">
            <figure><img src="<%= posts[i].image%>" width="400" height="300"/></figure>
            
          </a>
            <div class="card-body bg-base-200 mt-4 -ml-3 -mr-3 ">
              <h2 class="card-title dark:text-white"><%= posts[i].title%></h2>
              <h2 class="card-compact dark:text-white"><%= posts[i].ingredients%></h2>
              <h2 class="card-title mt-4 badge">Likes: <%= posts[i].likes%></h2>
            </div>
          </div>

        <% } %>
        </ul>
    </div>
  </div>  
  </div>
<%- include('partials/footer') -%>